
debug.flag
node_modules/
logs/
*.cache
*.log
AE-BOT.code-workspace
startbot.bat
/commands/NA
commands/debugjson.js
config.json
info.json
strings.json
runstate.txt
last.msg
last.txt
statusmessage.config
commands/emujoin.js
commands/emuleave.js
Apple Explained Moderation Bot.code-workspace
.DS_Store
shutdown.flag
restrictions.json
errorcount.txt
*.flag
leaderboards/toomuchjscode#9583_gamestats.json
leaderboards/Daniel 💻#7205_gamestats.json
leaderboards/454579681602043916_gamestats.json
commands.pmfb/USER_trivia.js
commands.pmfb/USER_suggestquestion.js
commands.pmfb/USER_solve.js
commands.pmfb/USER_slots.js
commands.pmfb/USER_serverinfo.js
commands.pmfb/USER_rule.js
commands.pmfb/USER_roulette.js
commands.pmfb/USER_rolldicegame.js
commands.pmfb/USER_rolldice.js
commands.pmfb/USER_recommendation.js
commands.pmfb/USER_ping.js
commands.pmfb/USER_news.js
commands.pmfb/USER_neverhaveieversuggest.js
commands.pmfb/USER_neverhaveiever.js
commands.pmfb/USER_neverdonethat.js
commands.pmfb/USER_mystery.js
commands.pmfb/USER_membercount.js
commands.pmfb/USER_leaderboard.js
commands.pmfb/USER_hi.js
commands.pmfb/USER_help.js
commands.pmfb/USER_goodbye.js
commands.pmfb/USER_games.js
commands.pmfb/USER_donethat.js
commands.pmfb/USER_decrypthint.js
commands.pmfb/USER_decrypt.js
commands.pmfb/USER_cryptogram.js
commands.pmfb/USER_credits.js
commands.pmfb/USER_coinflip.js
commands.pmfb/USER_bugreport.js
commands.pmfb/USER_botSuggestion.js
commands.pmfb/USER_answer.js
commands.pmfb/USER_alertsay.js
commands.pmfb/USER_aboutme.js
commands.pmfb/USER_aboutchannel.js
commands.pmfb/USER_aboutbot.js
commands.pmfb/unusedCommands/botSetup.js
commands.pmfb/TEST_notificationsSignUpPrompt.js
commands.pmfb/TEST_awaitResponse.js
commands.pmfb/speakCommand.js
commands.pmfb/quiz.json
commands.pmfb/news.js
commands.pmfb/never.json
commands.pmfb/MOD_warn.js
commands.pmfb/MOD_unmute.js
commands.pmfb/MOD_unlock.js
commands.pmfb/MOD_unban.js
commands.pmfb/MOD_showchannel.js
commands.pmfb/MOD_setstatus.js
commands.pmfb/MOD_setNickname.js
commands.pmfb/MOD_sayotherchannel.js
commands.pmfb/MOD_say.js
commands.pmfb/MOD_revokerole.js
commands.pmfb/MOD_purge.js
commands.pmfb/MOD_preban.js
commands.pmfb/MOD_mute.js
commands.pmfb/MOD_memberinfoid.js
commands.pmfb/MOD_memberinfo.js
commands.pmfb/MOD_lockChannel.js
commands.pmfb/MOD_kick.js
commands.pmfb/MOD_hidechannel.js
commands.pmfb/MOD_embedsay.js
commands.pmfb/MOD_deleteWarn.js
commands.pmfb/MOD_deleteChannel.js
commands.pmfb/MOD_clearWarn.js
commands.pmfb/MOD_ban.js
commands.pmfb/MOD_approverole.js
commands.pmfb/hello.js
commands.pmfb/debugCommands/UNUSED_answer.js
commands.pmfb/crypt.json
commands.pmfb/classifiedpieces.json
commands.pmfb/classified.json
commands.pmfb/BOTMANAGER_viewFile.js
commands.pmfb/BOTMANAGER_status.js
commands.pmfb/BOTMANAGER_restart.js
commands.pmfb/BOTMANAGER_repair.js
commands.pmfb/BOTMANAGER_reloadAiModules.js
commands.pmfb/BOTMANAGER_reload.js
commands.pmfb/BOTMANAGER_githubPull.js
commands.pmfb/BOTMANAGER_forceshutdown.js
commands.pmfb/ban.js
resources/classified.json
resources/classifiedpieces.json
resources/crypt.json
resources/never.json
resources/quiz.json
package.json
package-lock.json
LICENSE 2
key.js
configb.json
bot.js
leaderboards/454579681602043916_achievements.json
runOnStartup.js
aiModule_MissingInputs.txt
