
debug.flag
node_modules/
logs/
*.cache
*.log
AE-BOT.code-workspace
startbot.bat
/commands/NA
commands/debugjson.js
config.json
info.json
strings.json
runstate.txt
last.msg
last.txt
statusmessage.config
commands/emujoin.js
commands/emuleave.js
Apple Explained Moderation Bot.code-workspace
